extends container.pug

block append head
    link(rel='stylesheet', href='/css/post.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark-dimmed.min.css')
    title=title.slice(11)
    meta(property='og:title', content=title.slice(11))

block append content
    #titlebox.middle.vertical.whiteblue
        .smallspace
        h5#category 
            a(href=category.url) ← Category: #{category.name}
        h1#title!=title.slice(11)
        h6.graytext#date 20#{date}
        .smallspace
    #post
        != content
    if next.title != " " || previous.title != " "
        table.whiteblue#nextandprevious
            caption.whiteblue(style='text-align:left;padding-left: 2.5vw;padding-top:1vh')
                h5 #{category.name} 카테고리의 글
            tr#middle
                td
                    div#line
            unless previous.title == " "
                tr
                    td.description
                        h4 이전글
                    td.title
                        a(href=previous.url)
                            h4(style='margin-left:0 !important')=previous.title 
                    td.date
                        h4(style='margin-right:0 !important')=previous.date
            if next.title != " " && previous.title != " "
                tr#middle
                    td
                        div#line
            unless next.title == " "
                tr
                    td.description
                        h4 다음글
                    td.title
                        a(href=next.url)
                            h4(style='margin-left:0 !important')=next.title 
                    td.date
                        h4(style='margin-right:0 !important')=next.date
        div.space